@layer base, components, utilities;

@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";

@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/forms";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  text-rendering: optimizeLegibility;
  background: #fff;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: #fff;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #3083cc;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
    color: #3083cc;
    text-decoration: underline;
}

.shadow-tight {
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.152) 0px 2px 6px 2px;
}

.fig-form-control {
    background-color: #fff;
    border-color: var(--color-gray-300);
    border-width: 1px;
    font-size: .875rem;
}

.fig-form-control-sm {
    height: calc(1.5em + .2rem + 2px);
    padding: .25rem .2rem;
    line-height: 1.3;
}

.fig-form-control-md {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    line-height: 1.5;
}
